<mat-toolbar>
    <span class="bg-gray-500 w-full">Dashboard</span>
</mat-toolbar>

<div class="flex w-full gap-4 p-4">
    <div class="flex flex-col w-full">
        <div class="bg-gray-200 h-64 my-4 rounded relative">
            <div class="absolute top-1 left-1 w-36">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Choose an option</mat-label>
                    <mat-select (selectionChange)="setPieData($event)" [value]="'now'">
                        <mat-option value="now">Now</mat-option>
                        <mat-option value="before">Before</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <app-pie-chart [data]="pieData"></app-pie-chart>
        </div>
        <div class="bg-gray-200 h-64 my-4 rounded">
            <line-chart
                *ngIf="covidData$ | async as covidData"
                [data]="covidData"
            ></line-chart>
        </div>
        <div class="bg-gray-200 h-64 my-4 rounded">
            <app-chart2 [data]="data$ | async"></app-chart2>
        </div>
        <div class="bg-gray-200 h-64 my-4 rounded">
            <charts [data]="data"></charts>
        </div>
    </div>
</div>
